.chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0B0D1C;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  border: 2px solid #54B4D3;
}

.chat-container {
  position: fixed;
  bottom: 4px;
  right: 85px;
  width: 300px;
  background-color: #0B0D1C;
  border: 1px solid #54B4D3;
  border-radius: 3%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.chat-header {
  background-color: #0B0D1C;
  color: #fff;
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
  justify-content: start;
  gap: 4px;
}

.chat-title {
  font-size: 16px;
  font-weight: bold;
}

.chat-messages {
  height: 300px;
  overflow-y: auto;
  padding: 8px;
  border-radius: 0px 0px 10px 10px;
}

.user-message {
  display: flex;
  width: 90%;
  background-color: #000000;
  border: 1px solid #54B4D3;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
}

.chatbot-message {
  display: flex;
  width: 90%;
  background-color: #000000;
  border: 1px solid #54B4D3;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
}

.chat-input {
  border-radius: 35px 0px 0px 35px;
  border: 1px solid #54B4D3;
  background: #060513;
  width: 85%;
  height: 35px;
}

.button-chat {
  height: 35px;
  width: 15%;
  border-radius: 0px 35px 35px 0px;
  border: 1px solid #54B4D3;
  background: #54B4D3;
}
