<div class="container mx-auto">
  <swiper-container
    class="mySwiper"
    grab-cursor="true"
    pagination="true"
    pagination-clickable="true"
    pagination-dynamic-bullets="true"
    slides-per-view="auto"
    centered-slides="true"
    space-between="0"
    loop="true"
    effect="coverflow"
    coverflow-effect-rotate="0"
    coverflow-effect-stretch="0"
    coverflow-effect-depth="100"
    coverflow-effect-modifier="2.5"
    coverflow-effect-slide-shadows="false"
  >
    <swiper-slide>
      <!-- image -->
      <img src="/assets/img/slide1.jpg" alt="slide1" srcset="" />

      <div class="gradient"></div>
      <!-- data -->
      <div class="data">
        <h1 class="title-project">Titulo del proyecto</h1>
        <p class="desc-project">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nam nulla
          mollitia, sit porro tempore repellendus voluptatum dolores dolor sunt?
        </p>
      </div>
    </swiper-slide>

    <swiper-slide>
      <!-- image -->
      <img src="/assets/img/slide2.jpg" alt="slide1" srcset="" />

      <div class="gradient"></div>
      <!-- data -->
      <div class="data">
        <h1 class="title-project">Titulo del proyecto</h1>
        <p class="desc-project">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A nulla nihil
          molestiae itaque aspernatur. Est magni minima optio libero recusandae.
        </p>
      </div>
    </swiper-slide>

    <swiper-slide>
      <!-- image -->
      <img src="/assets/img/slide3.jpg" alt="slide1" srcset="" />

      <div class="gradient"></div>
      <!-- data -->
      <div class="data">
        <h1 class="title-project">Titulo del proyecto</h1>
        <p class="desc-project">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
          provident dicta voluptates fugiat, veniam aspernatur labore autem
          iusto! Quis, recusandae!
        </p>
      </div>
    </swiper-slide>

    <swiper-slide>
      <!-- image -->
      <img src="/assets/img/slide4.jpg" alt="slide1" srcset="" />

      <div class="gradient"></div>
      <!-- data -->
      <div class="data">
        <h1 class="title-project">Titulo del proyecto</h1>
        <p class="desc-project">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
          molestias sapiente officiis modi ipsa doloremque deleniti consequuntur
          vitae nemo omnis.
        </p>
      </div>
    </swiper-slide>

    <swiper-slide>
      <!-- image -->
      <img src="/assets/img/slide5.jpg" alt="slide1" srcset="" />

      <div class="gradient"></div>
      <!-- data -->
      <div class="data">
        <h1 class="title-project">Titulo del proyecto</h1>
        <p class="desc-project">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum
          distinctio laboriosam ratione, optio commodi eveniet numquam ullam
          eaque at vero?
        </p>
      </div>
    </swiper-slide>

    <swiper-slide>
      <!-- image -->
      <img src="/assets/img/slide6.jpg" alt="slide1" srcset="" />

      <div class="gradient"></div>
      <!-- data -->
      <div class="data">
        <h1 class="title-project">Titulo del proyecto</h1>
        <p class="desc-project">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
          cumque quos veniam ipsa. Eligendi, qui corrupti. Debitis recusandae
          sequi nostrum!
        </p>
      </div>
    </swiper-slide>

    <swiper-slide>
      <!-- image -->
      <img src="/assets/img/slide7.jpg" alt="slide1" srcset="" />

      <div class="gradient"></div>
      <!-- data -->
      <div class="data">
        <h1 class="title-project">Titulo del proyecto</h1>
        <p class="desc-project">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nemo
          labore nulla vitae ducimus sit deleniti ipsa quam id adipisci.
        </p>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
