<nav>
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 relative">
    <div class="flex items-center">
      <img src="assets/img/logo.svg" class="h-12 mr-3" alt="binary-brains"/>
    </div>
    <button
      cdkOverlayOrigin
      #menuOverlayOrigin="cdkOverlayOrigin"
      (click)="toggleMenu()"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden focus:outline-none
      focus:ring-2 text-gray-400 hover:bg-gray-700 focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0
        border-gray-700"
      >
        <li>
          <a class="block py-2 pl-3 pr-4 bg-blue-700 rounded md:bg-transparent md:p-0 text-white md:text-blue-500"
             aria-current="page">{{'navegacion.inicio' | translate}}</a>
        </li>
        <li>
          <a class="block py-2 pl-3 pr-4 rounded md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700
             hover:text-white md:hover:bg-transparent">{{'navegacion.nosotros' | translate}}</a>
        </li>
        <li>
          <a class="block py-2 pl-3 pr-4 rounded md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700
             hover:text-white md:hover:bg-transparent">{{'navegacion.integrantes' | translate}}</a>
        </li>
        <li>
          <a class="block py-2 pl-3 pr-4 rounded md:border-0 m md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700
             hover:text-white md:hover:bg-transparent">{{'navegacion.eventos' | translate}}</a>
        </li>
        <li>
          <a class="block py-2 pl-3 pr-4 rounded md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700
             hover:text-white md:hover:bg-transparent">{{'navegacion.proyectos' | translate}}</a>
        </li>
        <li>
          <a class="block py-2 pl-3 pr-4 rounded md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700
             hover:text-white md:hover:bg-transparent">{{'navegacion.contacto' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="menuOverlayOrigin"
  [cdkConnectedOverlayOpen]="showMenu"
  [cdkConnectedOverlayHasBackdrop]="true"
  (backdropClick)="toggleMenu()"
>
  <div class="z-10 absolute top-16 right-2 w-60 text-base list-none bg-[#0B0D1CFF] border border-[#54B4D3] rounded-lg">
    <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 space-y-2">
      <li>
        <a class="block py-2 px-4 rounded text-white hover:bg-white hover:text-blue-500 cursor-pointer"
           aria-current="page">
          {{'navegacion.inicio' | translate}}
        </a>
      </li>
      <li>
        <a class="block py-2 px-4 rounded text-white hover:bg-white hover:text-blue-500 cursor-pointer">
          {{'navegacion.nosotros' | translate}}
        </a>
      </li>
      <li>
        <a class="block py-2 px-4 rounded text-white hover:bg-white hover:text-blue-500 cursor-pointer">
          {{'navegacion.integrantes' | translate}}
        </a>
      </li>
      <li>
        <a class="block py-2 px-4 rounded text-white hover:bg-white hover:text-blue-500 cursor-pointer">
          {{'navegacion.eventos' | translate}}
        </a>
      </li>
      <li>
        <a class="block py-2 px-4 rounded text-white hover:bg-white hover:text-blue-500 cursor-pointer">
          {{'navegacion.proyectos' | translate}}
        </a>
      </li>
      <li>
        <a class="block py-2 px-4 rounded text-white hover:bg-white hover:text-blue-500 cursor-pointer">
          {{'navegacion.contacto' | translate}}
        </a>
      </li>
    </ul>
  </div>
</ng-template>
